<!DOCTYPE HTML>
	<head>
	    <meta charset="UTF-8"/>
        <title> Lab 5 </title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
        <link href="/css/index.css" rel="stylesheet"/>
	</head>
    <body>
        <div class="directory">
            <h2>Artist Directory</h2>
            <div id="searchWrapper">
                <input id="searchBox" type="text">
                <button id="addArtistBtn" onclick="addArtist()">Add</button> 
                <button id="searchBtn" onclick="searchArtist()">Search</button> 
            </div>
        </div>
        <div id="inputs">
            <input name="heading" id="heading" required placeholder="Artist Name" maxlength="40" type="text">
            <input name="body" id="body" required placeholder="About artist" maxlength="40" type="text">
            <input name="img" id="img" required placeholder="Image url" type="text">
            <input id="addBtn" type="submit" value="Add" onclick="newArtist()">
        </div>
        <div id="mainContainer">
 
        </div>
            <script src='./js/index.js' defer></script>
    </body>
</html>